@mixin background($image, $positionX, $positionY) {
   background-repeat: no-repeat;
   background-origin: padding-box;
   background-size: cover;
   background-image: url($image);
   background-position: $positionX $positionY;
}

@mixin buttonGradient {
   //    background: rgba(59, 59, 59, 1);
   //    background: -moz-linear-gradient(
   //       left,
   //       rgba(59, 59, 59, 1) 0%,
   //       rgba(0, 0, 0, 1) 6%,
   //       rgba(243, 188, 63, 1) 50%,
   //       rgba(243, 188, 63, 1) 51%,
   //       rgba(243, 188, 63, 1) 52%,
   //       rgba(243, 188, 63, 1) 53%,
   //       rgba(0, 0, 0, 1) 96%,
   //       rgba(13, 13, 13, 1) 100%
   //    );
   //    background: -webkit-gradient(
   //       left top,
   //       right top,
   //       color-stop(0%, rgba(59, 59, 59, 1)),
   //       color-stop(6%, rgba(0, 0, 0, 1)),
   //       color-stop(50%, rgba(243, 188, 63, 1)),
   //       color-stop(51%, rgba(243, 188, 63, 1)),
   //       color-stop(52%, rgba(243, 188, 63, 1)),
   //       color-stop(53%, rgba(243, 188, 63, 1)),
   //       color-stop(96%, rgba(0, 0, 0, 1)),
   //       color-stop(100%, rgba(13, 13, 13, 1))
   //    );
   //    background: -webkit-linear-gradient(
   //       left,
   //       rgba(59, 59, 59, 1) 0%,
   //       rgba(0, 0, 0, 1) 6%,
   //       rgba(243, 188, 63, 1) 50%,
   //       rgba(243, 188, 63, 1) 51%,
   //       rgba(243, 188, 63, 1) 52%,
   //       rgba(243, 188, 63, 1) 53%,
   //       rgba(0, 0, 0, 1) 96%,
   //       rgba(13, 13, 13, 1) 100%
   //    );
   //    background: -o-linear-gradient(
   //       left,
   //       rgba(59, 59, 59, 1) 0%,
   //       rgba(0, 0, 0, 1) 6%,
   //       rgba(243, 188, 63, 1) 50%,
   //       rgba(243, 188, 63, 1) 51%,
   //       rgba(243, 188, 63, 1) 52%,
   //       rgba(243, 188, 63, 1) 53%,
   //       rgba(0, 0, 0, 1) 96%,
   //       rgba(13, 13, 13, 1) 100%
   //    );
   //    background: -ms-linear-gradient(
   //       left,
   //       rgba(59, 59, 59, 1) 0%,
   //       rgba(0, 0, 0, 1) 6%,
   //       rgba(243, 188, 63, 1) 50%,
   //       rgba(243, 188, 63, 1) 51%,
   //       rgba(243, 188, 63, 1) 52%,
   //       rgba(243, 188, 63, 1) 53%,
   //       rgba(0, 0, 0, 1) 96%,
   //       rgba(13, 13, 13, 1) 100%
   //    );
   //    background: linear-gradient(
   //       to right,
   //       rgba(59, 59, 59, 1) 0%,
   //       rgba(0, 0, 0, 1) 6%,
   //       rgba(243, 188, 63, 1) 50%,
   //       rgba(243, 188, 63, 1) 51%,
   //       rgba(243, 188, 63, 1) 52%,
   //       rgba(243, 188, 63, 1) 53%,
   //       rgba(0, 0, 0, 1) 96%,
   //       rgba(13, 13, 13, 1) 100%
   //    );
   //    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3b3b', endColorstr='#0d0d0d', GradientType=1 );
   background: rgba(0, 0, 0, 1);
   background: -moz-linear-gradient(
      left,
      rgba(0, 0, 0, 1) 0%,
      rgba(243, 189, 63, 1) 37%,
      rgba(243, 189, 63, 1) 42%,
      rgba(243, 189, 63, 1) 47%,
      rgba(243, 189, 63, 1) 51%,
      rgba(243, 189, 63, 1) 55%,
      rgba(243, 189, 63, 1) 60%,
      rgba(243, 189, 63, 1) 65%,
      rgba(243, 189, 63, 1) 69%,
      rgba(0, 0, 0, 1) 100%
   );
   background: -webkit-gradient(
      left top,
      right top,
      color-stop(0%, rgba(0, 0, 0, 1)),
      color-stop(37%, rgba(243, 189, 63, 1)),
      color-stop(42%, rgba(243, 189, 63, 1)),
      color-stop(47%, rgba(243, 189, 63, 1)),
      color-stop(51%, rgba(243, 189, 63, 1)),
      color-stop(55%, rgba(243, 189, 63, 1)),
      color-stop(60%, rgba(243, 189, 63, 1)),
      color-stop(65%, rgba(243, 189, 63, 1)),
      color-stop(69%, rgba(243, 189, 63, 1)),
      color-stop(100%, rgba(0, 0, 0, 1))
   );
   background: -webkit-linear-gradient(
      left,
      rgba(0, 0, 0, 1) 0%,
      rgba(243, 189, 63, 1) 37%,
      rgba(243, 189, 63, 1) 42%,
      rgba(243, 189, 63, 1) 47%,
      rgba(243, 189, 63, 1) 51%,
      rgba(243, 189, 63, 1) 55%,
      rgba(243, 189, 63, 1) 60%,
      rgba(243, 189, 63, 1) 65%,
      rgba(243, 189, 63, 1) 69%,
      rgba(0, 0, 0, 1) 100%
   );
   background: -o-linear-gradient(
      left,
      rgba(0, 0, 0, 1) 0%,
      rgba(243, 189, 63, 1) 37%,
      rgba(243, 189, 63, 1) 42%,
      rgba(243, 189, 63, 1) 47%,
      rgba(243, 189, 63, 1) 51%,
      rgba(243, 189, 63, 1) 55%,
      rgba(243, 189, 63, 1) 60%,
      rgba(243, 189, 63, 1) 65%,
      rgba(243, 189, 63, 1) 69%,
      rgba(0, 0, 0, 1) 100%
   );
   background: -ms-linear-gradient(
      left,
      rgba(0, 0, 0, 1) 0%,
      rgba(243, 189, 63, 1) 37%,
      rgba(243, 189, 63, 1) 42%,
      rgba(243, 189, 63, 1) 47%,
      rgba(243, 189, 63, 1) 51%,
      rgba(243, 189, 63, 1) 55%,
      rgba(243, 189, 63, 1) 60%,
      rgba(243, 189, 63, 1) 65%,
      rgba(243, 189, 63, 1) 69%,
      rgba(0, 0, 0, 1) 100%
   );
   background: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 0%,
      rgba(243, 189, 63, 1) 37%,
      rgba(243, 189, 63, 1) 42%,
      rgba(243, 189, 63, 1) 47%,
      rgba(243, 189, 63, 1) 51%,
      rgba(243, 189, 63, 1) 55%,
      rgba(243, 189, 63, 1) 60%,
      rgba(243, 189, 63, 1) 65%,
      rgba(243, 189, 63, 1) 69%,
      rgba(0, 0, 0, 1) 100%
   );
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}
