@import "./_variables.scss";
@import "./_mixins.scss";
*,
::after,
::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: "Roboto", sans-serif;
   font-size: 15px;
   color: $yellow;
   background-color: whitesmoke;
   width: 100vw;
   min-width: 250px;
}

.container {
   margin: 0 !important;
   padding: 0 !important;
   width: 100vw;
   display: flex;
   flex-direction: column;
}

footer {
   display: flex;
   flex-direction: row;
   align-items: center;
   text-align: center;

   height: 60px;
   background-color: $bgcBlack;
   & h1 {
      width: 100%;
      font-size: 1em;
   }
}
